
<%= form_with model: @user, url: registration_url, class: "card flex flex-col gap" do |form| %>
  <div class="flex flex-col gap-half">
    <h3 class="font-semibold leading-none">Register</h3>
    <p class="text-sm text-subtle">Enter your email & password below to create to your account.</p>
  </div>
   
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "input" %>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "input" %>
  <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: "Confirm your password", maxlength: 72, class: "input" %>

  <div class="flex gap">
    <%= form.submit "Sign up", class: "btn btn--primary" %>
    <%= link_to "Forgot password?", new_password_path, class: "text-m font-medium underline" %>
  </div>

<% end %>

<hr class="m-3"/>

<div class="flex items-center gap justify-center">
   <%= link_to "Login", new_session_path, class: "btn btn--primary" %>
</div>
