<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Surf Journal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "css-zero/reset", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %>
    <%= stylesheet_link_tag "css-zero/variables", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/utilities", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="header-layout">
    <header id="header">
      <div class="container flex justify-between">
        <div class="flex items-center gap">
          <%= link_to "#", class: "flex items-center gap mie-2" do %>
            <h1 class="font-bold text-2xl">Surf Journal</h1>
          <% end %>

          <nav class="flex items-center gap text-sm text-subtle show@md" style="--column-gap: 1rem">
            <%= link_to "Docs", "#", class: active_nav_class(root_path) %>
            <%= link_to "Components", "#", class: active_nav_class("a") %>
            <%= link_to "Blocks", "#", class: active_nav_class("a") %>
            <%= link_to "Charts", "#", class: active_nav_class("a") %>
            <%= link_to "Themes", "#", class: active_nav_class("a") %>
            <%= link_to "Colors", "#", class: active_nav_class("a") %>
          </nav>
        </div>

        <% if Current.user %>
        <div class="flex items-center gap">
          <%= button_to "Logout", session_path,
                      method: :delete,
                      class: "btn btn--primary" %>
        </div>
        <% end %>
      </div>
    </header>

    <main id="main" class="centered-layout">
      <div class="container">
        <% if alert.present? %>
          <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= alert %></div>
        <% end %>

        <% if notice.present? %>
          <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
